/* Global Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #f8f9fa;
}

.card {
  border-radius: 10px;
  border: none;
}

.btn {
  border-radius: 5px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}/* You can add global styles to this file, and also import other style files */
